/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Contenido */

.container-wrap{
    padding: 32px 30px 32px 30px;
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;
}
