.container-lg {
    padding: 50px;
  }
  
  .example-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-card{
    padding: 20px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-full-width:nth-last-child(0) {
    margin-bottom: 10px;
  }
  
  
  .mat-flat-button {
    width: 120px;
    margin: 5px;
  }
  